src/main/resources/springws/model/schema2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:test" version="1.0">
	
	<xs:element name="method2Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="value" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="method2Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result-value" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
